.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
  border: 0px solid #ebedf2; 
}

.select2-selection__rendered{
  background-clip: content-box;
  background-color: #f3f6f9;
  text-decoration: underline;
}

.select2-container--default .select2-selection--single {
  background-color: #fff0;

}