<tf-datatable-cabecalho
	[habilitarForm]="false"
	[habilitarButton]="false"
	(refreshTable)="refreshTable()"
	(updateFilter)="updateFilter($event)"
	(openFormModal)="openFormModal()"
	[pesquisarPor]="'Aguarde mais um pouco 🙏, ainda estamos implementando a busca para esta tabela, ok?'"
	>
	<!-- [labelFormButton]="'Alocar recurso'" -->
</tf-datatable-cabecalho>
<div *ngIf="workspaceService.autorizar('recursos_alocados_menu')
	&& workspaceService.currentUser.subdominio.modulos.includes('Serviços e recursos')">
	<ngx-datatable class="material" #minhaTable [rows]="datatable.rows" [columnMode]="'flex'" [footerHeight]="50"
		[rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
		[limit]="page.size" (page)="setPage($event, undefined)" [sortType]="'multi'">
		<ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
			[canAutoResize]="false">
			<ng-template ngx-datatable-header-template let-value="value">
				<a href="#" class="datatable-icon-left fg-primary" title="Expand/Collapse All Rows" (click)="toggleExpandAllRow()">
				</a>
			</ng-template>

			<ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
				<a href="#" title="Expand/Collapse Row" (click)="toggleExpandRow(row, expanded)" class="m-datatable__toggle-subtable fg-primary">
					<i [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"></i>
				</a>
			</ng-template>

		</ngx-datatable-column>
		<ngx-datatable-column [flexGrow]="1" name="Id" prop="id"></ngx-datatable-column>
		<ngx-datatable-column [flexGrow]="1" name="Qtde" prop="quantidade" *ngIf="!isMobile"></ngx-datatable-column>
		<ngx-datatable-column [flexGrow]="5" name="Recurso" prop="nome_recurso" *ngIf="!isMobile"></ngx-datatable-column>
		<ngx-datatable-column [flexGrow]="5" name="Serviço" prop="nome_servico" *ngIf="!isMobile"></ngx-datatable-column>
		<ngx-datatable-column [flexGrow]="5" name="Tipo da reserva" prop="tipo_reserva" *ngIf="!isMobile"></ngx-datatable-column>
		<!-- <ngx-datatable-column [flexGrow]="5" name="Anfitrião" prop="anfitriao"></ngx-datatable-column> -->
		<!-- <ngx-datatable-column [flexGrow]="2" name="Ativada?">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<span	*ngIf="!row.ativada" class="m-badge m-badge--danger m-badge--wide m--font-boldest">off</span>
				<span *ngIf="row.ativada" class="m-badge m-badge--info m-badge--wide m--font-boldest">on</span>
			</ng-template>
		</ngx-datatable-column> -->
		<!--[canAutoResize]="false" -->
		<ngx-datatable-column [flexGrow]="3" [resizeable]="false" [sortable]="false" [draggable]="false" name="Checks">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<ng-container *ngIf="row.checkin_enabled!=null">
					<a href="#" (click)="row.checkin_enabled==true && openCheckModal(row.id)"
						ngbTooltip="Check-in" container="body" placement="bottom"
						class="btn btn-outline-success m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air"
						[class.disabled]="row.checkin_enabled!=true">
						<i class="la la-chevron-right"></i>
					</a>
				</ng-container>

				<ng-container *ngIf="row.checkout_enabled!=null">
					<a href="#" (click)="row.checkout_enabled==true && openCheckModal(row.id)"
						ngbTooltip="Check-out" container="body" placement="bottom"
						class="btn btn-outline-warning m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air"
						[class.disabled]="row.checkout_enabled!=true">
						<i class="la la-chevron-left"></i>
					</a>
				</ng-container>

				<ng-container *ngIf="row.checklist_enabled!=null">
					<a href="#"  (click)="row.checklist_enabled==true && openCheckModal(row.id)"
						ngbTooltip="Check-list" container="body" placement="bottom"
						class="btn btn-outline-success m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air"
						[class.disabled]="row.checklist_enabled!=true">
						<i class="la la-check"></i>
					</a>
				</ng-container>
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column [flexGrow]="3" [resizeable]="false" [sortable]="false" [draggable]="false" name="Ações">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<ng-container *ngIf="row.reserva_enabled">
					<a href="#" title="Editar" (click)="openFormModalEdit(row.reserva_id)"
						class="btn btn-outline-primary m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
						<i class="la la-edit"></i>
					</a>
				</ng-container>
					<!-- <a href="#" title="Remover" (click)="datatableService.remove(row.id)"
						class="btn btn-outline-danger btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
						<i class="la la-trash"></i>
					</a> -->
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-row-detail rowHeight="auto" #myDetailRow>
			<ng-template let-row="row.detalhe" let-expanded="expanded" ngx-datatable-row-detail-template>
				<div class="row" style="padding-left:15px;margin-right:0px">
					<div class="col-5">
						<div *ngIf="row.id"><b>ID da reserva: </b>{{row.reserva_id}}</div>
						<div *ngIf="row.anfitriao"><b>Anfitrião: </b>{{row.anfitriao}}</div>
						<div *ngIf="row.espaco"><b>Espaço: </b>{{row.espaco}}</div>
						<div *ngIf="row.assunto"><b>Assunto: </b>{{row.assunto}}</div>
						<div *ngIf="row.data_de_instalacao_prevista"><b>Data de instalação prevista: </b>{{row.data_de_instalacao_prevista}}</div>
						<div *ngIf="row.data_de_instalacao"><b>Data de instalação: </b>{{row.data_de_instalacao}}</div>
						<div *ngIf="row.data_de_desinstalacao_prevista"><b>Data de desinstalação prevista: </b>{{row.data_de_desinstalacao_prevista}}</div>
						<div *ngIf="row.data_de_desinstalacao"><b>Data de desinstalação: </b>{{row.data_de_desinstalacao}}</div>
						<div *ngIf="row.data_de_retirada_prevista"><b>Data de retirada prevista: </b>{{row.data_de_retirada_prevista}}</div>
						<div *ngIf="row.data_de_retirada"><b>Data de retirada: </b>{{row.data_de_retirada}}</div>
						<div *ngIf="row.data_de_devolucao_prevista"><b>Data de devolução prevista: </b>{{row.data_de_devolucao_prevista}}</div>
						<div *ngIf="row.data_de_devolucao"><b>Data de devolução: </b>{{row.data_de_devolucao}}</div>
						<div *ngIf="row.data_de_inicio_previsto"><b>Data de início previsto: </b>{{row.data_de_inicio_previsto}}</div>
						<div *ngIf="row.data_de_inicio"><b>Data de início: </b>{{row.data_de_inicio}}</div>
						<div *ngIf="row.data_de_fim_previsto"><b>Data de encerramento previsto: </b>{{row.data_de_fim_previsto}}</div>
						<div *ngIf="row.data_de_fim"><b>Data de encerramento: </b>{{row.data_de_fim}}</div>
					</div>
					<div class="col-5">
						<div *ngIf="row.preco"><b>Preço unitário: </b>{{row.preco}}</div>
						<div *ngIf="row.subtotal"><b>Subtotal: </b>{{row.subtotal}}</div>
						<div *ngIf="row.fornecedor"><b>Fornecedor: </b>{{row.fornecedor}}</div>
					</div>
				</div>
			</ng-template>
		</ngx-datatable-row-detail>
	</ngx-datatable>
</div>