<tf-datatable-cabecalho
	[habilitarForm]="workspaceService.autorizar('espaco_excluir')"
	[labelFormButton]="'AmenitiesInstalled'"
	(refreshTable)="refreshTable()"
	(updateFilter)="updateFilter($event)"
	(openFormModal)="openFormModal()"
	>
</tf-datatable-cabecalho>
<div>
  <ngx-datatable class="material"
		#minhaTable
		[rows]="datatable.rows"
		[columnMode]="'flex'"
		[footerHeight]="50"
		[rowHeight]="'auto'"
		[externalPaging]="true"
		[count]="page.totalElements"
		[offset]="page.pageNumber"
		[limit]="page.size"
		(page)="setPage($event, undefined)"  
		[sortType]="'multi'"
		>
		<ngx-datatable-column
			[width]="50"
			[resizeable]="false"
			[sortable]="false"
			[draggable]="false"
			[canAutoResize]="false">
			<ng-template ngx-datatable-header-template let-value="value">
				<a href="#"
				 class="datatable-icon-left fg-primary"
				 title="Expand/Collapse All Rows"
				 (click)="toggleExpandAllRow()">
				</a>
			</ng-template>
			<ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
				<a href="#" title="Expand/Collapse Row"
				 (click)="toggleExpandRow(row, expanded)"
				 class="m-datatable__toggle-subtable fg-primary">
				 <i [class.datatable-icon-right]="!expanded"
				 [class.datatable-icon-down]="expanded"></i>
				</a>
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column [flexGrow]="2" name="Recurso" prop="id">
    </ngx-datatable-column>
		<!-- <ngx-datatable-column [flexGrow]="2" name="COLOQUE A COLUNA AQUI">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<span	*ngIf="row.role=='visitante'" class="m-badge m-badge--secondary m-badge--wide m--font-boldest">Visitante</span>
				<span *ngIf="row.role=='membro'" class="m-badge m-badge--primary m-badge--wide m--font-boldest">Membro</span>
				<span *ngIf="row.role=='atendente'" class="m-badge m-badge--info m-badge--wide m--font-boldest">Atendente</span>
				<span *ngIf="row.role=='operador'" class="m-badge m-badge--success m-badge--wide m--font-boldest">Operador</span>
				<span *ngIf="row.role=='admin'" class="m-badge m-badge--warning m-badge--wide m--font-boldest">Admin</span>
				<span *ngIf="row.role=='master'" class="m-badge m-badge--danger m-badge--wide m--font-boldest">Master</span>
			</ng-template>
	  </ngx-datatable-column> -->
		<ngx-datatable-column
			[flexGrow]="1" 
			[width]="120"
			[resizeable]="false"
			[sortable]="false"
			[draggable]="false"
			[canAutoResize]="false">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<div class="">
					<a href="#" title="Editar" (click)="openFormModal(row.id)"
					*ngIf="workspaceService.autorizar('_editar')"
					class="btn btn-outline-primary m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
						<i class="la la-edit"></i>
					</a>
					<a *ngIf="workspaceService.autorizar('_excluir')" href="#" title="Remover" (click)="datatableService.remove(row.id)"
					class="btn btn-outline-danger btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
						<i class="la la-trash"></i>
					</a>
				</div>
			</ng-template>
		</ngx-datatable-column>
		 <ngx-datatable-row-detail rowHeight="auto" #myDetailRow>
			<ng-template let-row="row.detalhe" let-expanded="expanded" ngx-datatable-row-detail-template>
				<div class="row" style="padding-left:15px;margin-right:0px">
					<div class="col-5">
            <div>Recurso: {{row.recurso_id}}</div>
            <div>Quantidade: {{row.quantity}}</div>
					</div>
				</div>
			</ng-template>
		</ngx-datatable-row-detail>
  </ngx-datatable>
</div>