<div class="m-subheader">
	<div class="d-flex align-items-center">
		<tf-page-map class="col-md-6 pl-0"
			nomePagina="Questionário"
      [menu]="[
        ['/customizacoes', 'Customizações'],
				['/customizacoes', 'Checkups'],
				['/customizacoes/checkups/questionarios', 'Questionário']
      ]">
		</tf-page-map>
		<div class="col-md-6 pr-0 float-right inline-block">
			<div class=" float-right">
				<a routerLink="/acompanhamentos/checkups/exames" class="btn btn-outline-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air px-3 mr-2 py-2"
					>
					<span>
						<span class="svg-icon svg-icon-primary pl-0 svg-icon-1x5p"
							[inlineSVG]="'./assets/app/media/svg/icons/General/Half-heart.svg'">
						</span>
						<span>
							Exames
						</span>
					</span>
				</a>
				<tf-page-guia class="">
				</tf-page-guia>
			</div>
		</div>
	</div>
</div>
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<questionario-data-table></questionario-data-table>
		</div>
	</div>
</div>