<form class="m-form m-form--state m-form--fit m-form--label-align-right"
  [formGroup]="formGroup" (ngSubmit)="!loadingService.isPending() && submeter.emit('')">

  <div class="m-portlet m-portlet--tabs">
    <div class="m-portlet__head">
			<div class="m-portlet__head-tools">
				<ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist" #navtab>
          <li *ngFor="let a of abas; let i = index"
            class="nav-item m-tabs__item">
            <!-- href="#m_tabs_6_{{i+1}}" -->
            <!-- isTabValid(tabIndex-1) ? '' : 'disabled', -->
            <a class="nav-link m-tabs__link"
              [ngClass]="[
                i == 0 ? 'active' : ''
              ]"
              (click)="mudarTab(i+1)"
              id="tabs_6_{{i+1}}"
              >
              <i [class]="a.icon"></i>
            </a>
            <!-- role="tab" -->
            <!-- data-toggle="tab" -->
            <!-- isTabValid(tabIndex-1) -->
          </li>
				</ul>
			</div>
			<div class="m-portlet__head-caption">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"
					(click)="activeModal.dismiss('Cross click')">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
			</div>
    </div>
    <div class="m-portlet__body">
			<div class="tab-content" #tabcontent>
        <ng-content></ng-content>
      </div>
    </div>
  </div> 

  <div  *ngIf="debugGlobal" class="modal-body">
    <span>
      <p class="tf-debug"><b>Situação Aba Valid:</b> {{situacaoAba}}</p>
      <p class="tf-debug"><b>Form Abas:</b></p><pre class="tf-debug"> {{abas[tabIndex-1].formArray.value | json}}</pre>
      <p class="tf-debug"><b>FormGroup Tab Index:</b> {{tabIndex}}</p>
      <p class="tf-debug"><b>FormGroup Valid:</b> {{formGroup.valid}}</p>
      <p class="tf-debug"><b>FormGroup Touched:</b> {{formGroup.touched | json}}</p>
      <p class="tf-debug"><b>FormGroup Dirty:</b> {{formGroup.dirty | json}}</p>
      <p class="tf-debug"><b>FormGroup Enabled:</b> {{formGroup.enabled}}</p>
      <!-- <p class="tf-debug"><b>FormGroup Value:</b> {{formGroup.value | json}}</p> -->
      <p class="tf-debug"><b>FormGroup Value:</b></p><pre class="tf-debug"> {{formGroup?.value | json}}</pre>
      <!-- <pre class="tf-debug">FormGroup Value: {{formGroup.value | json}}</pre> -->
      <p class="tf-debug"><b>Autorização Excluir:</b></p>
      <container *ngFor="let excluir of autorizar_excluir; let i = index">
        <p class="tf-debug">Posição {{i}}: {{excluir}}</p>
      </container>
    </span>
  </div>

  <div class="modal-footer">
    <!-- (click)="datatableService.remove(row.id)" -->
    <!-- <button *ngIf="rowId==null" type="button"  class="btn btn-danger" data-dismiss="modal" (click)="datatableService.removeItem(rowId)">
      Excluir
    </button> -->
    <!-- workspaceService.autorizar(...autorizar_excluir) -->
    <div class="col m--align-left pl-0">
      <container *ngIf="autorizarExcluir()">
      <!-- <div class="w-100"> -->
        <button type="button" (click)="excluir.emit('')"
          *ngIf="formGroup.get('id').value!=null && habilitarExcluir"
          class="btn btn-outline-danger ">
          <!--   -->
          <!-- class="btn btn-danger mr-auto" -->
          Excluir
        </button>
        
        <!-- </div> -->
      </container>
      <button type="button" (click)="botaoAlternativo.emit('')"
        *ngIf="textoBotaoAlternativo != ''"
        class="btn btn-secondary">
        <!--   -->
        <!-- Limpar -->
        <!-- class="btn btn-danger mr-auto" -->
        {{textoBotaoAlternativo}}
      </button>
    </div>
    
    <!-- <button *ngIf="rowId==null && cancelar" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close()">
      Cancelar
    </button> -->
    <button *ngIf="cancelar==true" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close()">
      Fechar
    </button>
    <!-- (click)="recuoAtivado(true)" -->
    <button *ngIf="!isTabFirst()" type="button" class="btn btn-primary" data-dismiss="modal" (click)="recuarTab()">
      <<
    </button>
    <!-- (click)="recuoAtivado(false)" -->
    <button *ngIf="!isTabLast()" type="button" class="btn btn-primary" data-dismiss="modal" (click)="avancarTab()" [disabled]="!isTabValid(tabIndex-1)">
      >>
    </button>
    <button type="submit" class="btn btn-primary" *ngIf="isTabLast() && habilitarSalvar"
      [ngClass]="{'cursor-default': formGroup.invalid || loadingService.isPending()}"
      [disabled]="formGroup.invalid || loadingService.isPending()">
      Salvar
    </button>
  </div>

</form>
