<div class="row"
  [ngClass]="workspaceService.formacaoColunas('3-3-3-3')
    ? 'px-20' : 'px-10'">
  <div class="col-6 d-flex justify-content-start">
    <span class="svg-icon svg-icon-light svg-icon-2x"
      [inlineSVG]="'./assets/app/media/svg/icons/Text/Quote1.svg'"
      >
    </span>
  </div>
  <!-- <div class="col-6 d-flex justify-content-end">
    <span class="svg-icon svg-icon-light svg-icon-2x"
        [inlineSVG]="'./assets/app/media/svg/icons/Text/Quote2.svg'"
      >
    </span>
  </div> -->
  <div class="col-12">
    <blockquote class="blockquote text-center font-size-sm">
      <p class="mb-0 text-dark-50">Mesmo um relógio parado consegue estar certo duas vezes por dia.</p>
      <div class="row">
        <div class="col-11 d-flex justify-content-center">
          <span class="blockquote-footer font-size-xs text-dark-25">Paulo Coelho
            <!-- <cite title="Source Title">Source Title</cite> -->
          </span>
        </div>
        <div class="col-1 d-flex justify-content-end">
          <span class="svg-icon svg-icon-light svg-icon-2x"
          [inlineSVG]="'./assets/app/media/svg/icons/Text/Quote2.svg'"
            >
          </span>
        </div>
      </div>
    </blockquote>
  </div>
  <div class="col-12">
    <div class="d-flex justify-content-end">
      
    </div>
  </div>
</div>