<tf-form-abas
	[abas]="abas"
	[activeModal]="activeModal"
	[formGroup]="formulario"
	[autorizar_excluir]="['reserva_evento_excluir_meu', 'reserva_evento_excluir_grupo', 'reserva_evento_excluir_unidade']"
	[habilitarExcluir]="formulario.get('montar_tela').value.botao_excluir"
	(submeter)="onSubmit()"
	(excluir)="removeItem(formulario?.value?.numero_lote!=undefined)"
	id="{{formulario.get('id').value}}"
	>

  <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">

		<!-- style="padding-bottom: 5%;" -->

		<!-- #region Assunto  -->
		<div class="row" *ngIf="formulario.get('montar_tela').value.assunto && !isMobile; else mobile">
			<div class="col-md-8 col-sm-8">
				<tf-text-simple
					formControlName="assunto"
					label="Adicionar um título"
					placeholder="Assunto">
				</tf-text-simple>
			</div>
			<div class="col-md-4 pr-0 pl-3">
				<tf-check-box
					formControlName="private_subject"
					label="Título privado?"
					tooltip="Se título for privado, apenas os participantes da reserva conseguirão vê-lo"
					>
				</tf-check-box>
			</div>
	</div>

	<ng-template #mobile>
			<div class="row" *ngIf="formulario.get('montar_tela').value.assunto">
					<div class="col-md-12 col-sm-8">
						<tf-text-simple
							formControlName="assunto"
							label="Adicionar um título"
							placeholder="Assunto">
						</tf-text-simple>
					</div>
					<div class="col-md-12 mt-2">
						<tf-check-box
							formControlName="private_subject"
							label="Título privado?"
							tooltip="Se título for privado, apenas os participantes da reserva conseguirão vê-lo"
							>
						</tf-check-box>
					</div>
			</div>
	</ng-template>
  <!-- #endregion  -->

		<hr>

		<!-- #region Datas e horários -->
		<div class="row tf-color-black col-md-12 col-sm-12"><span>Datas e horários</span></div>
		<div class="row">
			<div class="col-md-3 col-sm-6" style="padding-bottom: 10px; padding-right: 0px;">
				<tf-date
					formControlName="data_inicio"
					retirarLabel="true">
				</tf-date>
			</div>
			<div class="col-md-2 col-sm-4" style="padding-bottom: 10px;">
				<tf-time class="tf-estilizacao-time"
					formControlName="hr_inicio_previsto"
					retirarLabel="true"
					>
				</tf-time>
			</div>
			<ng-container *ngIf="formulario.get('montar_tela').value.dia_todo">
				<div class="col-md-1 col-sm-4 pt-1 pl-1 pr-0">
					<a href="" class="btn m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air"
					[ngClass]="formulario.get('dia_todo').value == true ? 'btn-primary' : 'btn-outline-primary'"
					ngbTooltip="Dia todo" container="body" placement="bottom" (click)="setarDiaTodo()">
					<i *ngIf="!formulario.get('dia_todo').value" class="la la-hourglass-end"></i>
						<i *ngIf="formulario.get('dia_todo').value" class="la la-hourglass-start"></i>
					</a>
				</div>
			</ng-container>
			<div class="col-md-3" style="padding-bottom: 10px; padding-right: 0px;">
				<tf-date
					formControlName="data_fim"
					retirarLabel="true"
					[desabilitar]="true">
				</tf-date>
			</div>
			<div class="col-md-2" style="padding-bottom: 10px;">
				<tf-time
					formControlName="hr_fim_previsto"
					retirarLabel="true"
					[desabilitar]="formulario.get('dia_todo').value">
				</tf-time>
			</div>
			<ng-container *ngIf="formulario.get('id').value==null && workspaceService.autorizar('reserva_evento_recorrencia')">
				<div class="col-md-1 pt-1 px-0">
					<a href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air"
						ngbTooltip="Repetir..." container="body" placement="bottom" (click)="adicionarRecorrencia()">
						<i class="la la-redo-alt"></i>
					</a>
				</div>
			</ng-container>
		</div>
		<!-- #endregion  -->


		<!-- #region dia todo/repetir/qtde -->
		<!-- <div class="row tf-color-black mb-2"> -->
			<!-- <div class="col-md-5 tf-dia-todo">
				<p>Por tempo indeterminado</p>
			</div> -->
			<!-- <div class="col-md-2">
				<tf-check-box
					formControlName="periodo_indeterminado"
					retirarLabel="true">
				</tf-check-box>
			</div> -->


			<!-- <div class="col-md-3 tf-dia-todo">
				<p style="text-align: right;">O dia todo</p>
			</div> -->
			<!-- <div class="col-md-3">
				<tf-check-box
					formControlName="dia_todo"
					label="O dia todo?"
					> -->
					<!-- retirarLabel="false" -->
				<!-- </tf-check-box> -->
			<!-- </div> -->
			<!-- <div class="col-md-3">
				<tf-check-box
					formControlName="dia_todo"
					label="Repetir"
					>
				</tf-check-box>
			</div>			 -->

			<!-- retirarLabel="false" -->
		<!-- </div> -->
		<!-- #endregion -->

		<hr>

		<!-- #region Anfitriao -->
		<div class="row tf-color-black mb-2">
			<div class="col-md-12" *ngIf="formulario.get('montar_tela').value.anfitriao"
			[ngClass]="aplicaCss('anfitriao_email')">
				<label>Para quem será este evento?</label>
				<ng-select [items]="convidados$ | async"
					bindLabel="name"
					[addTag]="true"
					[multiple]="false"
					[hideSelected]="true"
					[trackByFn]="trackByFn"
					[minTermLength]="2"
					[loading]="convidadosLoading"
					typeToSearchText="Por favor, utilize pelo menos 2 dígitos para adicionar"
					formControlName="anfitriao_email"
					(change)="validacaoAnfitriao()"
					[typeahead]="convidadosInput$"
					>
					<ng-template ng-option-tmp let-item="item">
						{{item.name}} <br/>
						<small>{{item.nome}}</small>
					</ng-template>
				</ng-select>
			</div>
		</div>
		<!-- #endregion anfitriao -->

		<!-- #region Convidados -->
		<!-- form-group -->
		<div class="row tf-color-black mb-2" *ngIf="formulario.get('montar_tela').value.convidados">
			<div class="col-md-12"
				[ngClass]="aplicaCss('convidados_emails')">
				<!-- <tf-select-multi
					[form]="formulario.get('convidados')"
					[data]="listDadosSelect['funcionarios']"
					label="Convidados"
					placeholder="Selecione um ou mais">
				</tf-select-multi> -->
				<label>Convidar participantes</label>
				<ng-select [items]="convidados$ | async"
					bindLabel="name"
					[addTag]="true"
					[multiple]="true"
					[hideSelected]="true"
					[trackByFn]="trackByFn"
					[minTermLength]="2"
					[loading]="convidadosLoading"
					typeToSearchText="Por favor, utilize pelo menos 2 dígitos para adicionar"
					formControlName="convidados_emails"
					(change)="validacao()"
					[typeahead]="convidadosInput$"
					>
					<ng-template ng-option-tmp let-item="item">
						{{item.name}} <br/>
						<small>{{item.nome}}</small>
					</ng-template>
				</ng-select>
			</div>
		</div>
		<!-- tyle="padding-left:0px; padding-right:0px -->

		<div class="tf-color-black col-md-12 px-0" *ngIf="formulario.get('montar_tela').value.convidados"
			[ngClass]="aplicaCss('qtd_convidados')">
			<tf-integer class="col-md-12 px-0"
				formControlName="qtd_convidados"
				label="Quantidade de pessoas"
				[limiteInferior]="1"
				tooltip="Valor mínimo é 1 pois já é considerado o anfitrião"
			>
			</tf-integer>
		</div>
		<!-- #endregion  -->

		<hr>

		<!-- #region Espaço -->
		<div *ngIf="workspaceService.autorizar('reserva_evento_reservar_espaco')
			&& workspaceService.currentUser.subdominio.modulos.includes('Smartrooms')">
			<div class="row tf-color-black">
				<div class="col-md-12" style="padding-bottom: 10px;">
					<tf-select-simple
						[formControl]="formulario.get('espaco_id')"
						[data]="listSalas"
						label="Reservar espaço*"
						allowClear=false
						placeholder="Selecione"
						[allowClear]="true"
						>
					</tf-select-simple>
				</div>
			</div>

			<div class="row tf-color-black" *ngIf="currentUser.provider == 'google_oauth2' && (formulario.get('id').value==null || formulario.get('calendario_conference_url').value==null)">
				<div class="col-md-12" style="padding-bottom: 10px;">
						<tf-check-box
						formControlName="generate_link_conference"
						label="Adicionar videoconferência do Google Meet">
					</tf-check-box>
				</div>
			</div>

			<div class="row tf-color-black" *ngIf="currentUser.provider == 'microsoft_graph' && (formulario.get('id').value==null || formulario.get('calendario_conference_url').value==null)">
				<div class="col-md-12" style="padding-bottom: 10px;">
						<tf-check-box
						formControlName="generate_link_conference"
						label="Adicionar videoconferência da Microsoft Teams/Skype">
					</tf-check-box>
				</div>
			</div>

			<!-- #region link conference-->
			<div class="row" *ngIf="currentUser.provider == 'email' || !formulario.get('generate_link_conference').value">
				<div class="col-md-12" style="padding-bottom: 10px;">
					<tf-text-simple
						formControlName="calendario_conference_url"
						label="Link para videoconferência"
						placeholder="https://link.com.br">
					</tf-text-simple>
				</div>
			</div>
			<!-- #endregion  -->

			<hr>

			<div>
				<div style="padding-left: 0; padding-top: 0.1rem; padding-bottom: 0.7rem; border-bottom: 0.07rem; color: #000000">
					Amenidades desse espaço
				</div>
				<div class="">
					<ng-container *ngFor="let amenity of formulario.value?.amenities; let i = index">
						<!-- *ngFor="let r of recursos.instalacao; let i = index" -->
						<div class="row">
							<div class="col-md-12"
								style="padding-bottom: 0.7rem; border-bottom: 0.07rem; color: #000000">
								<span>{{amenity.amenity}}</span>
							</div>
							<!-- <div class="col-md-3 pl-3"> -->
								<!-- *ngIf recurso.precificavel --.-- -->
								<!-- <p>R$ 1203,00</p> -->
							<!-- </div> -->
						</div>
					</ng-container>
				</div>
			</div>
			<hr>
		</div>
		<!-- #endregion  -->

		<!-- #region Recursos vinculados -->
		<ng-container *ngIf="workspaceService.autorizar('reserva_evento_reservar_espaco')
			&& workspaceService.currentUser.subdominio.modulos.includes('Serviços e recursos')">
			<div style="padding-left: 0; padding-top: 0.1rem; padding-bottom: 0.7rem; border-bottom: 0.07rem; color: #000000">
				<span>Recursos reservados automaticamente</span>
			</div>
			<div class="">
				<ng-container formArrayName="recursos_reservas_attributes">
					<ng-container *ngFor="let itemrow of formArray.controls; let i=index" [formGroupName]="i">
						<div class="row pb-1" *ngIf="itemrow.value.vinculavel">
							<div class="col-md-9 pr-0" *ngIf="habilitarRow(itemrow)"
							[ngClass]="aplicaCssItemRow('recurso_id', itemrow, i)">
								<tf-select-simple
								formControlName="recurso_id"
								[data]="listSelectVinculados"
								placeholder="Selecione"
								[allowClear]="false"
								[desabilitar]="true"
								(valorModificado)="selecaoRecurso($event, i)"
								>
								</tf-select-simple>
							</div>
							<div class="col-md-2 pr-0 pl-3 pt-3"
							>
								<p class="mb-0" *ngIf="itemrow.value.subtotal != undefined"
									>{{itemrow.value.subtotal | currency:'BRL':true:'1.2-2'}}</p>
							</div>
							<div class="col-md-1" style="display: flex;flex-direction: column;">
								<div style="margin: auto;" *ngIf="!itemrow.value.vinculavel || (itemrow.value.vinculavel && workspaceService.autorizar('reserva_vinculavel_unidade'))">
									<a href="#" title="Remover" (click)="deleteRow(itemrow, i)"
										*ngIf="habilitarRow(itemrow)"
										class="btn btn-outline-danger btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-trash"></i>
									</a>
								</div>
								<div style="margin-top: auto;">
									<a href="#" title="Restaurar" (click)="restoreRow(i)"
										*ngIf="!habilitarRow(itemrow)"
										class="btn btn-outline-success btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
										<i class="la la-mail-reply"></i>
									</a>
								</div>

							</div>

						</div>
					</ng-container>
				</ng-container>
			</div>
			<hr>
		</ng-container>
		<!-- #endregion  -->

		<!-- #region Recursos -->
		<ng-container *ngIf="workspaceService.autorizar('reserva_evento_solicitar_recurso')
			&& workspaceService.autorizar('reserva_evento_reservar_espaco')
			&& workspaceService.currentUser.subdominio.modulos.includes('Serviços e recursos')">
			<div style="padding-left: 0; padding-top: 0.1rem; padding-bottom: 0.7rem; border-bottom: 0.07rem; color: #000000">
				<span>Reservar recursos</span>
			</div>
			<div class="">
				<ng-container formArrayName="recursos_reservas_attributes">
					<ng-container *ngFor="let itemrow of formArray.controls; let i=index" [formGroupName]="i">
						<div class="row pb-1" *ngIf="!itemrow.value.vinculavel">
							<ng-container *ngIf="itemrow.value.quantificavel">
								<div class="col-md-6" *ngIf="habilitarRow(itemrow)">
										<tf-select-simple
										formControlName="recurso_id"
										[data]="listDadosSelect['recursos']"
										placeholder="Selecione"
										[allowClear]="false"
										(valorModificado)="selecaoRecurso($event, i)">
									</tf-select-simple>
								</div>
								<div class="col-md-3 px-0" *ngIf="habilitarRow(itemrow)">
									<tf-integer
										formControlName="quantidade"
										[limiteInferior]="1"
										retirarLabel="true"
										(valorModificado)="alterarQuantidade($event, i)">
									</tf-integer>
								</div>
								<div class="col-md-2 pr-0 pl-3 pt-3" >
									<p class="mb-0" *ngIf="itemrow.value.subtotal != undefined"
										>{{itemrow.value.subtotal | currency:'BRL':true:'1.2-2'}}
									</p>
								</div>
								<div class="col-md-1" style="display: flex;">
									<div style="margin: auto;">
										<a href="#" title="Remover" (click)="deleteRow(itemrow, i)"
											*ngIf="habilitarRow(itemrow)"
											class="btn btn-outline-danger btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
											<i class="la la-trash"></i>
										</a>
									</div>
									<div style="margin-top: auto;">
										<a href="#" title="Restaurar" (click)="restoreRow(i)"
											*ngIf="!habilitarRow(itemrow)"
											class="btn btn-outline-success btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
											<i class="la la-mail-reply"></i>
										</a>
									</div>
								</div>
							</ng-container>
							<ng-container *ngIf="!itemrow.value.quantificavel">
								<div class="col-md-9 pr-0" *ngIf="habilitarRow(itemrow)">
									<tf-select-simple
										formControlName="recurso_id"
										[data]="listDadosSelect['recursos']"
										placeholder="Selecione"
										[allowClear]="false"
										(valorModificado)="selecaoRecurso($event, i)">
									</tf-select-simple>
								</div>
								<div class="col-md-2 pr-0 pl-3 pt-3" >
									<p class="mb-0" *ngIf="itemrow.value.subtotal != undefined"
										>{{itemrow.value.subtotal | currency:'BRL':true:'1.2-2'}}
									</p>
								</div>
								<div class="col-md-1" style="display: flex;flex-direction: column;">
									<div style="margin: auto;">
										<a href="#" title="Remover" (click)="deleteRow(itemrow, i)"
											*ngIf="habilitarRow(itemrow)"
											class="btn btn-outline-danger btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
											<i class="la la-trash"></i>
										</a>
									</div>
									<div style="margin-top: auto;">
										<a href="#" title="Restaurar" (click)="restoreRow(i)"
											*ngIf="!habilitarRow(itemrow)"
											class="btn btn-outline-success btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
											<i class="la la-mail-reply"></i>
										</a>
									</div>
								</div>
							</ng-container>
						</div>
					</ng-container>
				</ng-container>
				<hr>
			</div>
		</ng-container>
		<!-- #endregion  -->

		<!-- #region Desconto e Total a pagar -->
		<ng-container *ngIf="workspaceService.autorizar('reserva_evento_reservar_espaco')
			&& workspaceService.currentUser.subdominio.modulos.includes('Serviços e recursos')">
			<div>
				<div class="row">
					<div class="col-md-6">
						<a href="#" id="refreshButton" (click)="addNewRow()"
							class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
							<i class="la la-plus"></i>
						</a>
					</div>
					<ng-container *ngIf="workspaceService.autorizar('reserva_desconto_grupo', 'reserva_desconto_unidade')
						&& formulario.get('exibir_gastos').value">
						<div class="col-md-2 pt-5">
							<p>Desconto:</p>
						</div>
						<div class="col-md-4 pt-0 pr-5">
							<tf-money
								formControlName="desconto"
								label="Preço - R$"
								[retirarLabel]="true"
								[alargarCol]="true"
								>
								<!-- (valorModificado)="descontar($event)" -->
							</tf-money>
						</div>
					</ng-container>
				</div>
				<!-- <hr> -->
				<div class="row" *ngIf="workspaceService.autorizar('reserva_gastos_meu', 'reserva_gastos_grupo', 'reserva_gastos_unidade')
					&& formulario.get('exibir_gastos').value">
					<div class="col-md-5 pt-1">
						<!-- <p>Total:</p> -->
					</div>
					<div class="col-md-4 pt-1 pl-6">
						<p><b>Total a pagar:</b></p>
					</div>
					<div class="col-md-3 pt-1 pl-3">
						<p><b>{{formulario.get('total_a_pagar').value | currency:'BRL':true:'1.2-2'}}</b></p>
					</div>
				</div>
			</div>
		</ng-container>
		<!-- #endregion  -->

	</div>

  <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
		<!-- #region Observação  -->
		<div class="row" *ngIf="formulario.get('montar_tela').value.observacao">
			<div class="col-md-12" style="padding-bottom: 10px;">
  			<tf-text-area
					formControlName="observacao"
					label="Adicionar descrição"
					placeholder="Adicionar descrição">
				</tf-text-area>
			</div>
		</div>
		<!-- #endregion Observação -->

		<!-- #region Campos Customizados -->
		<ng-container formArrayName="campos_customizados_reservas_attributes"
			*ngFor="let campo of getCamposCustomizadosControls(); let i=index">
			<ng-container [formGroupName]="i">
				<div class="row">
					<div class="col-md-12" style="padding-bottom: 10px;">
						<ng-container [ngSwitch]="campo.value.tipo_campo">

							<!-- #region TextSimple -->
							<ng-container *ngSwitchCase="'tf-text-simple'">
								<tf-text-simple
									formControlName="valor"
									label="{{campo.value.label}}"
									placeholder="{{campo.value.label}}">
								</tf-text-simple>
							</ng-container>
							<!-- #endregion TextSimple -->

							<!-- #region TextArea -->
							<ng-container *ngSwitchCase="'tf-text-area'">
								<tf-text-area
									formControlName="valor"
									label="{{campo.value.label}}"
									placeholder="{{campo.value.label}}">
								</tf-text-area>
							</ng-container>
							<!-- #endregion TextArea -->

							<!-- #region Integer -->
							<ng-container *ngSwitchCase="'tf-integer'">
								<tf-integer
									formControlName="valor"
									label="{{campo.value.label}}"
									placeholder="{{campo.value.label}}">
								</tf-integer>
							</ng-container>
							<!-- #endregion Integer -->

							<!-- #region Float -->
							<ng-container *ngSwitchCase="'tf-float'">
								<tf-float
									formControlName="valor"
									label="{{campo.value.label}}"
									placeholder="{{campo.value.label}}">
								</tf-float>
							</ng-container>
							<!-- #endregion Float -->

							<!-- #region CheckBox -->
							<ng-container *ngSwitchCase="'tf-check-box'">
								<tf-check-box
									formControlName="valor"
									label="{{campo.value.label}}">
								</tf-check-box>
							</ng-container>
							<!-- #endregion CheckBox -->

							<!-- #region Date -->
							<ng-container *ngSwitchCase="'tf-date'">
								<tf-date
									formControlName="valor"
									label="{{campo.value.label}}"
									placeholder="{{campo.value.label}}">
								</tf-date>
							</ng-container>
							<!-- #endregion Date -->

							<!-- #region Time -->
							<ng-container *ngSwitchCase="'tf-time'">
								<tf-time
									formControlName="valor"
									label="{{campo.value.label}}"
									placeholder="{{campo.value.label}}">
								</tf-time>
							</ng-container>
							<!-- #endregion Time -->

							<!-- #region Money -->
							<ng-container *ngSwitchCase="'tf-money'">
								<tf-money
									formControlName="valor"
									label="{{campo.value.label}}"
									placeholder="{{campo.value.label}}">
								</tf-money>
							</ng-container>
							<!-- #endregion Money -->

						</ng-container>
					</div>
				</div>
			</ng-container>
		</ng-container>
		<!-- #endregion Campos Customizados -->

  </div>

</tf-form-abas>

<!-- <tf-form-abas
	[formGroup]="formulario"
	[activeModal]="activeModal"
	(submeter)="onSubmit()"
	(excluir)="removeItem()"
	id="{{formulario.get('id').value}}"
	title="reserva"
	>

	<div class="form-group m-form__group" >
		<tf-select-simple
			[formControl]="formulario.get('espaco_id')"
			[data]="listDadosSelect['espacos']"
			label=""
			placeholder="selecione">
		</tf-select-simple>
	</div>

	<div class="row form-group m-form__group">
		<div class="col-md-5">
			<tf-select-simple
				[formControl]="formulario.get('anfitriao_id')"
				[data]="listDadosSelect['funcionarios']"
				label="Para quem é esta reserva?"
				placeholder="selecione">
			</tf-select-simple>
		</div>

		<div class="col-md-3">
			<tf-date
				formControlName="data"
				label="Data"
				>
			</tf-date>
		</div>

		<div class="col-md-2">
			<tf-time
				formControlName="hr_inicio_previsto"
				label="Início">
			</tf-time>
		</div>
		<div class="col-md-2">
			<tf-time
				formControlName="hr_fim_previsto"
				label="Término">
			</tf-time>
		</div>
	</div>

	<div class="form-group m-form__group"
  	[ngClass]="aplicaCss('assunto')">
  	<tf-text-simple
    	formControlName="assunto"
    	label="Assunto"
    	placeholder="Assunto">
  	</tf-text-simple>
	</div>

	<div class="form-group m-form__group"
  	[ngClass]="aplicaCss('observacao')">
  	<tf-text-area
			formControlName="observacao"
			label="Observação"
			placeholder="Observação">
  	</tf-text-area>
	</div>

	<div class="row form-group m-form__group">
		<div class="col-md-1">
			<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--icon m-btn--air"
			(click)="adicionarRecursos()" style="margin-right: 0.5rem" title="Adicionar recursos">
			<i class="flaticon-open-box"></i>
			</a>
		</div>
		<div class="col-md-1">
			<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill m-btn--icon m-btn--air"
			(click)="adicionarConvidados()" style="margin-right: 0.5rem" title="Adicionar convidados">
			<i class="flaticon-users"></i>
			</a>
    </div>
	</div>

</tf-form-abas> -->