<div id="main">
  <div class="content">

    <a name="about"></a>
    <h1>About</h1>
    <p>
      Calenda is a platform app for management of hybrid workplaces.
    </p>
    <p>
      No content is public. You have to sign in with google to access our platform.
      Anyone can sign in. If you sign in, you'll get access to some content that is just hidden from robots.
      If we recognize you, we'll grant you access to more protected content.
    </p>
    <p>
      When you sign in, google will share your name, email and your Google Calendar events to our platform.
      We won't share this data with others apps.
    </p>
    <p>
    </p>
    <p>
      If you have any questions, related to your personal data, you can contact us by email
      <a class="link link--primary" href="mailto:contato@reismaia.com" target="_blank" rel="noopener">
        contato&#64;reismaia.com
      </a>
    </p>

    <a name="homepage"></a>
    <h1>Google OAuth2 Homepage</h1>
    <p>
      <u>Accurately represents your app's identity:</u> The <img style="width: 16px; height: 16px;"
        src="https://app.calenda.com.br/assets/app/media/img/logos/mv2a.svg"> calenda.com.br App is
      <a href="https://app.calenda.com.br/">app.calenda.com.br</a> which is is a platform app for management of hybrid workplaces.
      It's a company app that you can install on your phone. It's just a webapp.
    </p>
    <p>
      <u>What will this app do with user data?</u> The only user data received is: name, email and google calendars events.
      These will be saved and re-displayed to the user.
      The email will be used to reply to messages sent by the user. The email will be used to identify the user. Some
      users will be granted access to additional content.
    </p>
    <p>
      <u>How does this app enhance user functionality?</u> This app enhances the experience of scheduling meeting rooms in a corporate context.
      Some content is only
      displayed to signed in users. The only enhancement of
      functionality is access to additional content.
    </p>
    <p>
      <u>Link to Privacy Policy:</u> <a href="about#privacy-policy">Click here.</a>
    </p>
    <p>
      <u>Describe the content, context, or connection to the app:</u> The <img style="width: 16px; height: 16px;"
        src="https://app.calenda.com.br/assets/app/media/img/logos/mv2a.svg"> calenda.com.br App
      is this website, which is just a hybrid workplace software management. The intention is to enhances the experience of scheduling meeting rooms in a corporate context.
    </p>

    <a name="limitedUse"></a>
    <h1>Google OAuth2 Limited Use Disclosure</h1>
    <p>
      This app request restricted scopes from Google Calendar API. The <img style="width: 16px; height: 16px;"
        src="https://app.calenda.com.br/assets/app/media/img/logos/mv2a.svg"> calenda.com.br App's
      use of information received from Google APIs will adhere to the <a
        href="https://developers.google.com/terms/api-services-user-data-policy#additional_requirements_for_specific_api_scopes">Google
        API Services User Data Policy</a>,
      including the Limited Use requirements.
    </p>

    <a name="copyright"></a>
    <h1>Copyright</h1>
    <p>
      If you have a copyright complaint, please <span id="feedback3" class="jsLink">tell me</span> and include
      the holtstrom.com url that contains the alleged content, identification of the work claimed to have been infringed
      including the name and reply email address of the copyright holder/representative, an assertion that
      the use of the material is not authorized and an assertion that you are the
      copyright holder/representative.
    </p>

    <a name="privacy-policy"></a>
    <h1>Privacy Policy</h1>
    <p>
      This Policy integrates the Terms of Use of Calenda in accordance with the General Data Protection
      Law (Lei Geral de Proteção de Dados (LGPD) – 13.709/2018).
      You should carefully read the following conditions,
      as they contain important information about the privacy and protection of your personal data.
      The processing of personal data is a condition for using our
      platform.
      It is not possible to offer Calenda's functionalities without
      having access to this personal data.
      This policy and its respective updates shall prevail over all
      policies, proposals, contracts, prior understandings and agreements, oral or written, that may exist
      between the parties dealing, directly or indirectly, on the subject of privacy.
      We don't directly collect any information from you other than your
      login info from google which is used to administer protected access to some of the content. Cookies are used
      for login purposes. No information is given to other parties, except this site does include google analytics which
      records anonymized browsing behaviour. This site uses cookies as described below.
    </p>

    <div class="elementor-widget-container">
      <div class="elementor-text-editor elementor-clearfix">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12">
            <div class="about_our_self_content">
              <h4><strong>

                  INTRODUCTION

                </strong></h4>
              <p class="mb-2">

                (I) The solutions contained in the software Calenda –
                Management of Reserved Assets (or simply “Calenda”) are provided by&nbsp;
                <strong>

                  MAIA E REIS JUNIOR DESENVOLVIMENTO LTDA.

                </strong>

                &nbsp;(“Reis Maia”), a legal entity governed by private law,
                registered with the CNPJ/MF under No. 28.089.414/0001-58, headquartered in Belo Horizonte/MG, at Rua
                Passos No. 464, complement 304, Bairro Carlos Prates – CEP 30.710-540.

              </p>
              <p class="mb-2">

                (II) This Privacy Policy (“Policy”) aims to establish the rules
                on (a) how and for what purposes personal data are processed by Reis Maia;
                (b) with whom this personal data may be shared;
                and (c) how Users can manage their personal data.

              </p>
              <p class="mb-2">

                (III) Reis Maia reserves the right, at any time, to change this
                Privacy Policy, updating its content according to the need for technological improvement or its
                functionalities.

              </p>
              <p class="mb-2">

                (IV) When there is a change in the Privacy Policy, Reis Maia
                will communicate its Users, alternatively, by publication in a prominent area on Calenda, by email
                or in any other way that allows communication with you.
                Likewise, you should check the updated version of this Policy
                every time you visit Calenda.

              </p>
              <p class="mb-2">

                (V) If you do not agree with the new terms of the Privacy
                Policy, you must cease using Calenda.

              </p>
              <h4><strong>

                  1. GENERAL INFORMATION

                </strong></h4>
              <p class="mb-2">

                1.1.&nbsp;
                <strong>

                  Types of Users:

                </strong>

                &nbsp;Calenda Users are Collaborators, Administrators and
                Guests, as defined in the Terms of Use.

              </p>
              <p class="mb-2">

                1.2.&nbsp;
                <strong>

                  Forms of Data Processing:

                </strong>

                &nbsp;Reis Maia's way of processing personal data will vary
                according to its performance.
                Calenda has some features, including:

              </p>
              <p class="mb-2 pl-3">

                1.2.1.&nbsp;
                <strong>

                  Employee agenda:

                </strong>

                &nbsp;Management of the calendar of meetings and
                organizational events in which the employee is a participant.
                Reis Maia will be fully aware of the participants involved,
                allowing employees to schedule, confirm and cancel their attendance.

              </p>
              <p class="mb-2 pl-3">

                1.2.2.&nbsp;
                <strong>

                  Resource and service management:

                </strong>

                &nbsp;Session aimed at managing stocks of assets and services
                that may be provided internally to meet the needs of the corporation.

              </p>
              <p class="mb-2 pl-3">

                1.2.3.&nbsp;
                <strong>

                  Reserveable space management:

                </strong>

                &nbsp;Control of the availability of allocable spaces.
                These spaces are reserved by Users, who register their
                participation in their calendars.

              </p>
              <h4><strong>

                  2. PERSONAL DATA PROCESSED BY REIS MAIA

                </strong></h4>
              <p class="mb-2">

                2.1.&nbsp;
                <strong>

                  Employee Registration Data:

                </strong>
              </p>
              <ul class="pl-3">
                <li>

                  (a) Full name;

                </li>
                <li>(b) Email;</li>
                <li>

                  (c) Integration password or keys.

                </li>
                <li>

                  (d) Organizational unit in which it operates;

                </li>
              </ul>
              <p>

                2.2.&nbsp;
                <strong>

                  Administrators Registration Data:

                </strong>
              </p>
              <ul class="pl-3">
                <li>

                  (a) Full name;

                </li>
                <li>

                  (b) Email;

                </li>
                <li>

                  (c) Integration password or keys;

                </li>
                <li>

                  (d) Organizational unit in which it operates;

                </li>
                <li>

                  (e) Telephone.

                </li>
              </ul>
              <p class="mb-2">

                2.3.&nbsp;
                <strong>

                  Scheduling Data:

                </strong>
              </p>
              <ul class="pl-3">
                <li>

                  (a) Calendar of events;

                </li>
                <li>

                  (b) Accepted and Rejected Events;

                </li>
                <li>

                  (c) Subject of events;

                </li>
                <li>

                  (d) E-mail and name of the participants involved in the
                  events;

                </li>
                <li>

                  (e) Date and time of events;

                </li>
                <li>

                  (f) Acceptance of use and consumption of resources/services
                  involved in the events.

                </li>
              </ul>
              <h4><strong>

                  3. PURPOSE OF THE COLLECTION AND PROCESSING OF PERSONAL DATA
                  BY REIS MAIA

                </strong></h4>
              <p>

                3.1.&nbsp;
                <strong>

                  Employee Registration Data:

                </strong>
              </p>
              <ul class="pl-3">
                <li>

                  (a) Perform user authentication;

                </li>
                <li>

                  (b) Carry out the registration;

                </li>
                <li>

                  (c) Link your Google or Microsoft account with Calenda;


                </li>
                <li>

                  (d) Identify who the organization's employees are;

                </li>
                <li>

                  (e) Send confirmation emails, password change and account
                  security;

                </li>
                <li>

                  (f) Allow access to your organization's workspace.

                </li>
              </ul>
              <p class="mb-2">

                3.2.&nbsp;
                <strong>

                  Administrators Registration Data:

                </strong>
              </p>
              <ul class="pl-3">
                <li>

                  (a) Perform user authentication;

                </li>
                <li>

                  (b) Carry out the registration;

                </li>
                <li>

                  (c) Check a dynamically updatable calendar, with a high
                  degree of consolidation.

                </li>
                <li>

                  (d) Identify who the organization's employees are;

                </li>
                <li>

                  (e) Send confirmation emails, password change and account
                  security;

                </li>
                <li>

                  (f) Allow access to your organization's workspace.

                </li>
                <li>

                  (g) Receive calls from the support and sales department
                  regarding the hiring of Calenda;

                </li>
              </ul>
              <p>

                3.2.&nbsp;
                <strong>

                  Scheduling Data:

                </strong>
              </p>
              <ul class="pl-3">
                <li>

                  (a) Carry out the creation, alteration or deletion of the
                  events themselves;

                </li>
                <li>

                  (b) Send the involved guests an email requesting confirmation
                  or rejection of the events;

                </li>
                <li>

                  (c) Confirm or refuse participation in the events.

                </li>
              </ul>
              <h4><strong>

                  4. DELETION OF PERSONAL DATA

                </strong></h4>
              <p class="mb-2">

                4.1.&nbsp;
                <strong>

                  Retention Period:

                </strong>

                &nbsp;All personal data of Users processed in accordance with
                this Policy will be kept by Reis Maia for as long as necessary for the respective purposes.
                We may also retain information as required by law or regulation
                or for the regular exercise of rights, or in circumstances where there is a legitimate purpose of
                Reis Maia.

              </p>
              <p>

                4.2.&nbsp;
                <strong>

                  Deletion Requests:

                </strong>

                &nbsp;You may delete your account with Reis Maia at any time
                by accessing the user menu on Calenda, and any other means to achieve this objective is ineffective.

                In this case, we may retain information as required by law or
                regulation or for the regular exercise of rights, or in circumstances where there is a legitimate
                purpose of Reis Maia.

              </p>
              <h4><strong>

                  5. GOOGLE CALENDAR INTEGRATION

                </strong></h4>
              <p class="mb-2">

                5.1.
                The User will be able to link his Calenda account to a Google
                account, and in turn to the Google Calendar application.
                We will not store your Google password, just the integration
                keys.
                In addition, processing and handling of events saved in your
                Google Calendar, for reasons justified in #3.
                The API used follows the definitions allowed and protocoled by
                the Google Developers Console platform.

              </p>
              <h4><strong>

                  6. MICROSOFT OUTLOOK INTEGRATION

                </strong></h4>
              <p>

                6.1.
                The User will be able to link his Calenda account to a
                Microsoft account, and in turn to the Outlook application.
                We will not store your Microsoft password, only the integration
                keys.
                In addition, the processing and handling of events saved in
                your Outlook, for reasons justified in #3.
                The API used follows the definitions allowed and protocoled by
                the Microsoft Office 365 platform.

              </p>
              <h4><strong>

                  7. RIGHTS REGARDING YOUR PERSONAL DATA

                </strong></h4>
              <p class="mb-2">

                7.1.&nbsp;
                <strong>

                  Rights and Guarantees:

                </strong>

                &nbsp;the User has rights and guarantees in relation to their
                personal data.
                We provide mechanisms, detailed below, so that Users have
                clarity and transparency in the exercise of their rights.
                Whenever necessary, our team will be ready to evaluate any
                requests.

              </p>
              <p>

                7.2.&nbsp;
                <strong>

                  Rights Provided in the LGPD:

                </strong>

                &nbsp;under the General Data Protection Law (Law 13.709/2018 -
                "LGPD"), you have the right to:

              </p>
              <ul class="pl-3">
                <li>

                  (a) confirm that we have processed your personal data;

                </li>
                <li>

                  (b) access your personal data;

                </li>
                <li>

                  (c) require correction of personal data that is incomplete,
                  inaccurate or out of date;

                </li>
                <li>

                  (d) request the anonymization, blocking or deletion of
                  unnecessary, excessive or processed personal data in violation of the provisions of the LGPD;


                </li>
                <li>

                  (e) require the portability of your personal data to another
                  service or product provider, subject to our commercial and industrial secrets, after regulation by
                  the National Data Protection Authority;

                </li>
                <li>

                  (f) request the deletion of personal data processed based on
                  your consent, except in the cases of retention of personal data provided for in the LGPD;

                </li>
                <li>

                  (g) request information about who we share your personal data
                  with;

                </li>
                <li>

                  (h) request information about the possibility of not
                  providing your consent and the consequences;

                </li>
                <li>

                  (i) revoke your consent to the processing of your personal
                  data, when processing is carried out based on your consent;

                </li>
                <li>

                  (j) express opposition to treatment that violates the LGPD.


                </li>
              </ul>
              <p class="mb-2">

                7.3.&nbsp;
                <strong>

                  Additional Information:

                </strong>

                &nbsp;Before we respond to a request to exercise the above
                rights, we may ask you to provide us with certain information to confirm your identity.

              </p>
              <h4><strong>

                  8. SPAM PRACTICES:

                </strong></h4>
              <p class="mb-2">

                8.1.&nbsp;
                <strong>

                  Positioning:

                </strong>

                &nbsp;We are against any and all practices that promote SPAM
                of any kind and we are committed to ensuring that messages sent by Calenda are always of interest or
                importance to the respective recipients.
                Always directly related to the User's agenda and of no other
                nature.

              </p>
              <h4><strong>

                  9. INFORMATION SECURITY

                </strong></h4>
              <p class="mb-2">

                9.1.&nbsp;
                <strong>

                  Credentials per device:

                </strong>

                &nbsp;Authenticated access to Calenda is done not only through
                registration data but also through the connected device.
                Access credentials include a serializable code for each device
                in order to prevent unauthorized access to third party devices.
                Each authenticated device is given its own key.

              </p>
              <p class="mb-2">

                9.2.&nbsp;
                <strong>

                  Data Storage:

                </strong>

                &nbsp;The personal data collected by Reis Maia will be stored
                in secure databases, within the best practices, with access restricted only to employees with the
                proper credentials, who are obliged to maintain the confidentiality of the information and not use
                it inappropriately.

              </p>
              <p class="mb-2">

                9.3.&nbsp;
                <strong>

                  Data Scoping and Encapsulation:

                </strong>

                &nbsp;The personal data collected by Reis Maia are ensured
                from unauthorized access on several fronts.
                Permissions for read, write, change and delete are granted by
                groups that the Administrators of each organization manage with high detail and customization.

                In addition, these User groups follow a hierarchy that scopes
                the access defined by the Unit, Institution and organizational Workspace.
                All levels are isolated so as not to share information with
                each other.
                The entire structure of our data is filtered by these layers
                that increase data security.

              </p>
              <h4><strong>

                  10. INFORMATION AND QUESTIONS

                </strong></h4>
              <p>

                10.1.&nbsp;
                <strong>

                  Questions about the Policy:

                </strong>

                &nbsp;If after reading this Policy, you still have any
                questions, related to your personal data, you can contact us by email
                <a class="link link--primary" href="mailto:contato@reismaia.com" target="_blank" rel="noopener">

                  contato&#64;reismaia.com

                </a>

                .

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>
      <u>How does this application access, use, store, or share Google user data?</u> The only user data received is:
      name, email and profile calendar events.
      These are accessed via OAuth2 login. These are stored in an unencrypted database. These are used only: to be
      re-displayed to the user, to reply
      to messages sent by the user, and as identification for granting access to additional content to the user. None of
      this data is shared with anyone.
    </p>
    <p>
      By continuing to use this site, you accept this privacy policy in full. If you disagree with this policy,
      you must not use this site.
    </p>

    <a name="cookies"></a>
    <h1>Cookies</h1>
    <p>
      Cookies are short messages sent from your browser to websites you visit.
      This site uses cookies. By using this site you consent to the use of cookies.
    </p>
    <p>
      This site uses cookies to identify who is logged in, and google analytics uses cookies to record anonymized
      browsing behaviour.
    </p>

    <a name="terms-of-service"></a>
    <h1>Terms of Service</h1>
    <div class="elementor-widget-container">
      <div class="elementor-text-editor elementor-clearfix">
      </div>
    </div>
    <p>
      By continuing to use this site, you accept these terms of service in full. If you disagree with these terms,
      you must not use this site.
    </p>

  </div><!-- content -->
</div>