  <li class="m-portlet__nav-item m-dropdown m-dropdown--down m-dropdown--inline m-dropdown--small m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
  data-dropdown-toggle="hover" style="float:right; padding-right:8px">
  <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-dropdown__toggle
    tf-link_icone_branco tf-espacamento_icone_reserva tf-float-right">
    <i class="m-nav__link-icon fa flaticon-open-box tf-card_monitoramento__icone" style="font-size:1em"></i><!-- <i class="[icone] tf-card_monitoramento__icone" style="font-size:1em"></i> -->
  </a>
  <div class="m-dropdown__wrapper">
    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>            
    <div class="m-dropdown__inner">
      <div class="m-dropdown__body">
        <div style="padding-left: 0; padding-top: 0.1rem; padding-bottom: 0.7rem; border-bottom: 0.07rem; color: #000000"><b>{{titulo}}</b></div>
        <div class="m-dropdown__content">
          <ul class="m-nav">

            <li class="m-nav__item">
              <!-- *ngFor="let i of data"> -->
              <a href="" class="m-nav__link" 
              >
              <!-- (click)="onAbrirFecharEspaco()" -->
                <i class="m-nav__link-icon la la-plus"></i><!-- <i class="[i.iconeOpcao]"></i> -->
                <span class="m-nav__link-text">
                  Opção<!-- {{i.opcao}} -->
                </span>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</li>  
   