<div class="m-login__forget-password2">
  <div class="m-login__head">
    <h3 class="m-login__title">
      Esqueceu sua senha?
    </h3>
    <div class="m-login__desc">
      Digite seu e-mail para resetarmos sua senha.
    </div>
  </div>
  <form class="m-login__form m-form"
  >
  <!-- (ngSubmit)="f.form.valid && forgetPass()" #f="ngForm"  action="" -->
    <ng-template #alertForgetPass></ng-template>
    <div class="form-group m-form__group">
      <input class="form-control m-input"
      type="email"
      placeholder="Email"
      name="email"
      id="m_email"
      [(ngModel)]="resetData.login"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,9}$" 
      >
      <!-- autocomplete="off" -->
      <!-- #email="ngModel" -->
    </div>
    <div *ngIf="output != undefined" class="m-login__form-sub">
      <span *ngFor="let m of (output?.error?.errors)" class="m-form__help m--font-danger">
        {{m}}
      </span>
      <span *ngIf="output != undefined && output?.success==true && output?.message"
        class="m-form__help m--font-success">
        {{output.message}}
      </span>
    </div>
    <div class="m-login__form-action">
      <button 
        (click)="resetar()"
        [disabled]="loading" 
        [ngClass]="{'m-loader m-loader--right m-loader--light': loading}"
        class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air">
        Enviar
      </button>
      <!-- [disabled]="loading" -->
      <button 
        class="btn btn-outline-primary m-btn m-btn--pill m-btn--custom "
        routerLink="/login/publico_signin" skipLoadingChange>
        Cancelar
      </button>
    </div>
  </form>
</div>