<div class="m-subheader">
	<div class="d-flex align-items-center">
		<tf-page-map class="col-md-11 pl-0" nomePagina="Espaços"
      [menu]="[
        ['/cadastros', 'Cadastro de ativos'],
				['/cadastros', 'Espaços'],
        ['/cadastros/espacos/espacos', 'Espaços']
      ]">
		</tf-page-map>
		<tf-page-guia class="col-md-1 pr-0 float-right">
		</tf-page-guia>
	</div>
</div>
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<espaco-data-table></espaco-data-table>
		</div>
	</div>
</div>