<tf-datatable-cabecalho
	[habilitarForm]="workspaceService.autorizar('localizacao_criar')"
	[labelFormButton]="'Nova Localização'"
	(refreshTable)="refreshTable()"
	(updateFilter)="updateFilter($event)"
	(openFormModal)="openFormModal()"
	[pesquisarPor]="'pesquise por: nome/andar ou ordem da LOCALIZAÇÃO *** nome do ESPAÇO'"
	>
</tf-datatable-cabecalho>
<div *ngIf="workspaceService.autorizar('localizacao_visualizar')
	&& (this.workspaceService.currentUser.subdominio.modulos.includes('Smartrooms')
	|| this.workspaceService.currentUser.subdominio.modulos.includes('Hotdesks'))">
  <ngx-datatable class="material"
		#minhaTable
		[rows]="datatable.rows"
		[columnMode]="'flex'"
		[footerHeight]="50"
		[rowHeight]="'auto'"
		[externalPaging]="true"
		[count]="page.totalElements"
		[offset]="page.pageNumber"
		[limit]="page.size"
		(page)="setPage($event, undefined)"  
		[sortType]="'multi'"
		>
		<ngx-datatable-column
			[width]="50"
			[resizeable]="false"
			[sortable]="false"
			[draggable]="false"
			[canAutoResize]="false">
			<ng-template ngx-datatable-header-template let-value="value">
				<a href="#"
						class="datatable-icon-left fg-primary"
						title="Expand/Collapse All Rows"
						(click)="toggleExpandAllRow()">
				</a>
			</ng-template>
			<ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
				<!-- <a href="#" title="Expand/Collapse Row"
				(click)="toggleExpandRow(row, expanded)"
						class="m-datatable__toggle-subtable fg-primary">
						<i [class.datatable-icon-right]="!expanded"
						[class.datatable-icon-down]="expanded"></i>
				</a> -->
				</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column [flexGrow]="2" name="Nome" prop="predio"></ngx-datatable-column>
		<ngx-datatable-column [flexGrow]="1" name="Ordem" prop="ordem"></ngx-datatable-column>
		<ngx-datatable-column [flexGrow]="1" name="Localizacao pai" prop="localizacao_pai"></ngx-datatable-column>
		<ngx-datatable-column
			[flexGrow]="1" 
			[width]="120"
			[resizeable]="false"
			[sortable]="false"
			[draggable]="false"
			[canAutoResize]="false">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<div class="" >
					<a href="#" title="Editar" (click)="openFormModal(row.id)"
						*ngIf="workspaceService.autorizar('localizacao_editar')"								
						class="btn btn-outline-primary m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
						<i class="la la-edit"></i>
					</a>
					<a href="#" title="Remover" (click)="datatableService.remove(row.id)"
						*ngIf="workspaceService.autorizar('localizacao_excluir')"
						class="btn btn-outline-danger btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
						<i class="la la-trash"></i>
					</a>
				</div>
			</ng-template>
		</ngx-datatable-column>
  </ngx-datatable>
</div>
