 <div [ngClass]="classeCss">
  <label *ngIf="!retirarLabel" [attr.for]="id"> {{ label }}
    <a *ngIf="tooltip != undefined" [routerLink]="" class="m-menu__link m-menu__toggle"
      [ngbTooltip]="tooltip" container="body" placement="bottom">
      <span [inlineSVG]="'./assets/app/media/svg/icons/Code/Question-circle.svg'"
        class="m-menu__link-icon svg-icon svg-icon-primary svg-icon-1x"></span>
    </a>
  </label>    
  <textarea class="form-control m-input m-input--air"
    [(ngModel)]="value"
    [mask]="mask" 
    [placeholder]="placeholder"
    [attr.disabled]="desabilitar ? 'true' : null"
    [rows]="rows"
    (blur)="onBlur()"
  >
    <!-- [type]="type" -->
    <!-- [id]="id" -->
    <!-- [readonly]="!!isReadOnly" -->
    <!-- [prefix]="prefix" -->
    <!-- [suffix]="suffix" -->
  </textarea>
  <span *ngIf="debugGlobal">
    <br>
    <p class="tf-debug"><b>{{label}} Value:</b> {{value}}</p>
    <p class="tf-debug"><b>{{label}} Desabilitar:</b> {{desabilitar}}</p>
  </span>
</div>
