<tf-form-simples
	[formGroup]="formulario"
	[activeModal]="activeModal"
	(submeter)="onSubmit()"
	id="{{formulario.get('id').value}}"
	title="Adicionar recursos"
	cancelar="false"
	salvar="Concluir"
	>
	<!-- disableTitle="true" -->

	<div>
		<div style="padding-left: 0; padding-top: 0.1rem; padding-bottom: 0.7rem; border-bottom: 0.07rem; color: #000000">
			<b>Amenidades</b>
		</div>
		<div class="">
			<ng-container *ngFor="let amenities of formulario.value?.amenities; let i = index">
				<div *ngFor="let r of amenities.amenity; let i = index"
					style="padding-left: 0; padding-top: 0.1rem; padding-bottom: 0.7rem; border-bottom: 0.07rem; color: #000000">
					<span>{{r.quantity}} - {{r.name}}</span>
				</div>
			</ng-container>
 		</div>
	</div>

	<hr>

	<div style="padding-left: 0; padding-top: 0.1rem; padding-bottom: 0.7rem; border-bottom: 0.07rem; color: #000000">
		<p><b>Recursos adicionais (opcional)</b></p>
		<span>Adicione os recursos de cada serviço que necessita para esta reserva.</span>
	</div>
	<div class="">
		<ng-container formArrayName="recursos_reservados_attributes">
			<ng-container *ngFor="let itemrow of formArray.controls; let i=index" [formGroupName]="i">
				<div class="row">

          <div class="col-md-6" *ngIf="habilitarRow(itemrow)"
          [ngClass]="aplicaCssItemRow('recurso_id', itemrow, i)">          
						<tf-select-simple
						formControlName="recurso_id"
						[data]="listDadosSelect['recursos']"
						placeholder="Selecione"
						>
						<!-- [formControl]="itemrow.get('recurso_id')" -->
            </tf-select-simple>
          </div>

          <div class="col-md-5" *ngIf="habilitarRow(itemrow)"
            [ngClass]="aplicaCssItemRow('quantidade', itemrow, i)">
              <tf-integer
                formControlName="quantidade"
                retirarLabel="true"
                >
              </tf-integer>
          </div>

          <div class="col-md-1" style="display: flex;flex-direction: column;">

						<div style="margin-top: auto;">
              <a href="#" title="Remover" (click)="deleteRow(itemrow, i)"
                *ngIf="habilitarRow(itemrow)"                
                class="btn btn-outline-danger btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
 								<i class="la la-trash"></i>
							</a>
            </div>

            <div style="margin-top: auto;">
              <a href="#" title="Restaurar" (click)="restoreRow(i)"
                *ngIf="!habilitarRow(itemrow)"
                class="btn btn-outline-success btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
 								<i class="la la-mail-reply"></i>
							</a>
            </div>
            
          </div>
          
        </div>        
        <br>

<!-- <p>Formarray controls:: {{formArray.controls}}</p>
<p>recursos_reservados_attributes:: {{formulario.get('recursos_reservados_attributes')?.value}}</p>

<p>ItemRow Recurso Value: >>> {{itemrow.get('recurso_id')?.value}}</p>
<p>ItemRow Qtd Value: >>> {{itemrow.get('quantidade')?.value}}</p>
<p>ItemRow Qtd Valid: >>> {{formulario.get('recurso_id').value}}</p>

<p>New Record: >>> {{itemrow.value.new_record}}</p>
<p>Destroy: >>> {{itemrow.value._destroy}}</p> -->

      </ng-container>      
    </ng-container>
    
		<div>
			<a href="#" id="refreshButton" (click)="addNewRow() "
				class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
				<i class="la la-plus"></i>
			</a>
		</div>
		
	</div>

</tf-form-simples>