.mini-calendar {
  width: 100%;//350px;
  margin: 0px auto 0;
}

.mini-calendar__month {
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 0 6px 0;
  width: 100%;
  position: relative;
}

.mini-cal-month__previous,
.mini-cal-month__next {
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  
  &:hover {
    background-color: var(--primary);
    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.75);
    border-radius: 50%;
    font-weight: 600;
    color: #fff;
  }
}

.mini-cal-month__next {
  right: 13px;
}

.mini-cal-month__current {
  text-align: center;
  color: #777;
}

.mini-cal-head__day,
.mini-cal-body__day {
  display: inline-block;
  // width: 14%;
  // @media (max-width: 768px) {
    width: calc(100%/7 - 26px);
  // }
  // width: calc(100%);
  height: 5vh;
  float: left;
  text-align: center;
  font-size: 0.9rem;
  margin: 0px 13px 0px;
}

.mini-cal-body__week,
.mini-calendar__head {
  display: block;
  height: 5vh;
  width: 100%;//350px;
  margin: 10px 0px 10px 0px;
}

.mini-calendar__head {
  line-height: 5vh;
  position: relative;
  
  &:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e1e1e1;
  }
}

.mini-cal-body__day {
  color: #e1e1e1;
  line-height: 5vh;
  text-align: center;
  cursor: pointer;

    
  &:hover {
    background-color: var(--primary);
    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.75);
    border-radius: 50%;
    font-weight: 600;
    color: #fff;
  }
}

.mini-cal-day__month--current {
  color: #777;
}

.mini-cal-day__day--today {
  font-weight: 600;
  color: var(--primary);
}

.mini-cal-day__day--selected {
  background-color: var(--primary-hover) !important;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .75);
  border-radius: 50%;
  color: #fff;
}