<!--begin: Search Form -->
<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
  <div class="row align-items-center">
      <div class="col-xl-7 order-2 order-xl-1">
          <div class="form-group m-form__group row align-items-center">
              <div class="col-md-6">
                  <div class="m-input-icon m-input-icon--left">
                      <input type="text" class="form-control m-input" placeholder="Pesquisar..." 
                      (keyup)='updateFilter($event)'>
                      <span class="m-input-icon__icon m-input-icon__icon--left">
                          <span>
                              <i class="la la-search"></i>
                          </span>
                      </span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-5 order-1 order-xl-2 m--align-right">
          <div>
              <a href="#" (click)="carregarTable()"
              class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                  <i class="la la-refresh"></i>
              </a>
              <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air"
              data-toggle="modal" data-target="#m_modal_1"
              (click)="openFormModal()"
              >
              <!-- *ngIf="currentUser.role_number>=3" -->
                  <span>
                      <i class="flaticon-add"></i>
                      <span>
                          Novo Layout
                      </span>
                  </span>
              </a>
          </div>
          <div class="m-separator m-separator--dashed d-xl-none"></div>
      </div>
  </div>
</div>
<!--end: Search Form -->

<div>
    <ngx-datatable class="material"
        #minhaTable
        [rows]="rows"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [sortType]="'multi'"        
        [limit]="20"
        >
        <!-- [headerHeight]="50" -->
        <!-- [columns]="columns" -->
        <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <!-- [class.datatable-icon-right]="!expanded" -->
            <!-- [class.datatable-icon-down]="expanded" -->
            <ng-template ngx-datatable-header-template let-value="value">
                <a href="#"
                    class="datatable-icon-left fg-primary"
                    title="Expand/Collapse All Rows"
                    (click)="toggleExpandAllRow()">
                </a>
            </ng-template>
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <!-- <a href="#"
                    [class.datatable-icon-right]="!expanded"
                    [class.datatable-icon-down]="expanded"
                    title="Expand/Collapse Row"
                    (click)="toggleExpandRow(row, expanded)">
                </a> -->
                <a href="#" title="Expand/Collapse Row" (click)="toggleExpandRow(row, expanded)" 
                    class="m-datatable__toggle-subtable fg-primary">
                    <i [class.datatable-icon-right]="!expanded"
                    [class.datatable-icon-down]="expanded"></i>
                </a>
                <!-- class="btn btn-outline-accent btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air" -->
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nome" prop="nome"></ngx-datatable-column>
        <ngx-datatable-column name="Paleta de cores" prop="bg_color" [width]="260">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="m-badge m-badge--accent m-badge--wide" [style.background]="row.cor_fundo_principal" title="Fundo principal"></span>
                <span class="m-badge m-badge--accent m-badge--wide" [style.background]="row.cor_fundo_complementar" title="Fundo complementar"></span>
                <span class="m-badge m-badge--accent m-badge--wide" [style.background]="row.cor_fundo_titulo" title="Fundo título"></span>
                <span class="m-badge m-badge--accent m-badge--wide" [style.background]="row.cor_linhas_grid" title="Linhas grid"></span>
                <span class="m-badge m-badge--accent m-badge--wide" [style.background]="row.cor_fonte_principal" title="Fonte principal"></span>
                <span class="m-badge m-badge--accent m-badge--wide" [style.background]="row.cor_fonte_complementar" title="Complementar"></span>
                <span class="m-badge m-badge--accent m-badge--wide" [style.background]="row.cor_relogio" title="Relógio"></span>
                <span class="m-badge m-badge--accent m-badge--wide" [style.background]="row.cor_pc_livre" title="Pc livre"></span>
                <span class="m-badge m-badge--accent m-badge--wide" [style.background]="row.cor_fechado" title="Fechado"></span>
                <span class="m-badge m-badge--accent m-badge--wide" [style.background]="row.cor_espera" title="Espera"></span>
                <span class="m-badge m-badge--accent m-badge--wide" [style.background]="row.cor_ocupado" title="Ocupado"></span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Orientação" prop="orientacao">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <i *ngIf="row.orientacao=='horizontal'" class="la la-arrows-h"></i>
                <i *ngIf="row.orientacao=='vertical'" class="la la-arrows-v"></i>
            </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Tem" prop="interacao">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.interacaoEnum==2||row.interacaoEnum==3" class="m-badge m-badge--accent m-badge--wide">Crachá</span>
                <span *ngIf="row.interacaoEnum==1||row.interacaoEnum==3" class="m-badge m-badge--success m-badge--wide">QrCalenda</span> -->
                <!-- <span *ngIf="row.interacao=='touch'" class="m-badge m-badge--info m-badge--wide">Touch</span> -->
                <!-- <span *ngIf="row.interacao=='nenhuma'" class="m-badge m-badge--danger m-badge--wide"></span> -->
            <!-- </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column
            [width]="120"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class=""
                >
                <!-- *ngIf="currentUser.role_number>=3" -->
                    <!-- <a href="#" title="Espaco" routerLink="{{row.id}}/espaco"
                    class="btn btn-outline-accent btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                        <i class="la la-desktop"></i>
                    </a> -->
                    <a href="#" title="Editar" (click)="openFormModal(row.id)"
                    class="btn btn-outline-primary m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
                    <!-- [routerLink]="[row.id]" -->
                        <!-- data-toggle="modal" data-target="#m_modal_1" (click)="openForm(row.id)" -->
                        <i class="la la-edit"></i>
                    </a>
                    <a href="#" title="Remover" (click)="removeItem(row.id)"
                    class="btn btn-outline-danger btn-sm m-btn m-btn--icon m-btn--icon-only m-btn--pill m-btn--air">
                        <i class="la la-trash"></i>
                    </a>
                </div>
            </ng-template>
        </ngx-datatable-column>
            
        <!-- Row Detail Template -->
        <ngx-datatable-row-detail rowHeight="auto" #myDetailRow>
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <!-- <div class="row" style="padding-left:15px;margin-right:0px">
                    <div class="col-5">
                        <div>Aspect ratio: {{row.aspect_ratio}}</div>
                        <div>Slideshow publicidade:
                          <li *ngFor="let c of row.carousel_publicidade">{{c.filename}}</li>
                        </div>
                    </div>
                    <div class="col-5">
                        <div>Template: {{row.template_nome}}</div>
                        <div>Slideshow fundo:
                          <li *ngFor="let c of row.carousel_fundo">{{c.filename}}</li>
                        </div>
                    </div>
                </div> -->
            </ng-template>
        </ngx-datatable-row-detail>
    </ngx-datatable>
</div>