<div class="m-login__forget-password2">
  <div class="m-login__head">
    <h3 class="m-login__title">
      Senha alterada com sucesso
    </h3>
    <div class="m-login__desc">
      Prontinho! Agora é só acessar a Calenda com sua nova senha.
    </div>
  </div>
  <div class="m-login__form-action d-flex justify-content-center py-15">
    <button
      routerLink="/login/publico_signin" 
      class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air">
      <span class="svg-icon svg-icon-white svg-icon-2x"
        [inlineSVG]="'./assets/app/media/svg/icons/Navigation/Arrow-right.svg'">
      </span>
    </button>
  </div>
</div>