<div class="m-subheader">
	<div class="d-flex align-items-center">
		<tf-page-map class="col-md-6 pl-0" nomePagina="Auditores"
      [menu]="[
        ['/cadastros', 'Cadastro de ativos'],
        ['/cadastros', 'Pessoas'],
        ['/cadastros/pessoas/aprovadores', 'Auditores']
      ]">
		</tf-page-map>
		<div class="col-md-6 pr-0 float-right inline-block">
			<div class="float-right">
				<a *ngIf="workspaceService.autorizar('regra_visualizar')"
				routerLink="/customizacoes/regras" class="btn btn-outline-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air px-3 mr-2 py-2"
					>
					<span>
						<span class="svg-icon svg-icon-primary pl-0 svg-icon-1x5p"
							[inlineSVG]="'./assets/app/media/svg/icons/Communication/Clipboard-list.svg'">
						</span>
						<span>
							Regras
						</span>
					</span>
				</a>
				<tf-page-guia class="">
				</tf-page-guia>
			</div>
		</div>
	</div>
</div>
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<aprovadores-data-table></aprovadores-data-table>
		</div>
	</div>
</div>