import { Component, OnInit, ViewEncapsulation } from '@angular/core';
import { Helpers } from '../../../../../helpers';

@Component({
  selector: ".m-grid__item.m-grid__item--fluid.m-wrapper",
  templateUrl: "./<%= dasherize(name) %>.component.html",
  encapsulation: ViewEncapsulation.None,
  standalone: false
})
export class <%= classify(name) %>Component implements OnInit {

  constructor() {
  }

  ngOnInit() {
  }

}
