//
// Wave
//


.wave {
	background-color: $gray-100;
	overflow: hidden;
	position: relative;

	> div {
		z-index: 1;
	}

	&:before {
		content: ' ';
		position: absolute;
		top: 0;
		left:0;
		right: 0;
		bottom: 0;
		background-color: $white;
		z-index: -1;
	}

	&:after {
		content: ' ';
		width: 1000px;
		height: 1025px;
		position: absolute;
		bottom: 65%;
		left: -250px;
		border-radius: 35%;
		background: rgba(255, 255, 255, 1);
		z-index: 0;
	}

	&-top-danger{
		&:after {
			// top: 65%;
			background: $danger-50;
		}
	}

	&-top{
		&:after {
			top: 75%;
			left: -415px;
		}
	}

	&-top-b{
		&:after {
			top: 68%;
			left: -172px;
			width: 600px;
			height: 600px
		}
	}

	&-bottom{
		&:after {
			bottom: 15%;
			left: -390px;
			// background: $success-50;
		}
	}

	&-bottom-b{
		&:after {
			bottom: 65%;
			left: -145px;
			width: 600px;
			height: 600px
		}
	}



	&-bg-success-50{
		&:after{
			background: $success-50;
		}
	}

	&-bg-danger-50{
		&:after{
			background: $danger-50;
		}
	}



	// &-bottom-success{
	// 	&:after {
	// 		bottom: 25%;
	// 		left: -335px;
	// 		background: $success-50;

	// 		top: -20%;
	// 		left: -318px;
	// 		background: $color;
	// 	}
	// }



	// &-quadro-bottom-#{$color}{
	// 	&:after {
	// 		bottom: 20%;
	// 		left: -335px;
	// 		background: $color;
	// 	}
	// }

	&:after {
		transform: rotate(45deg);
	}

	&-animate {
		&:after {
			animation: animate-wave 15s infinite linear;
		}

		&-slower {
			&:after {
				animation: animate-wave 30s infinite linear;
			}
		}

		&-slow {
			&:after {
				animation: animate-wave 25s infinite linear;
			}
		}

		&-fast {
			&:after {
				animation: animate-wave 10s infinite linear;
			}
		}

		&-faster {
			&:after {
				animation: animate-wave 5s infinite linear;
			}
		}
    }

    @each $name, $color in $theme-colors{
		&.wave-#{$name}{

			@if $name == "primary" {
				background-color: var(--primary-wave-opacity) !important;//theme-root-color($name) !important;
			} @else {
				background-color: rgba($color, $component-light-style-opacity) !important;
			}

			.svg-icon{
				svg{
					g [fill]{
						fill: theme-root-color($name);
					}
				}
			}
		}
	}
}

@keyframes animate-wave {
	from {
		transform: rotate(0deg)
	}

	to {
		transform: rotate(360deg);
	}
}
