<div #rodapeEspacoBloqueado class="rodape-espaco-bloqueado d-none animated-75">
  <div class="card card-shadowmore rounded mx-0 p-4">
    <div class="d-flex justify-content-between">
      <span class="text-dark-75 font-weight-bold font-size-lg pt-1">{{espacoSelecionado?.nome}}</span>
      <button type="button" class="close pl-5 pr-2 pb-1" data-dismiss="modal" aria-label="Close"
        (click)="fecharRodape()">
        <span aria-hidden="true">
          &times;
        </span>
      </button>
    </div>
    <div class="d-flex align-items-center">
      <span class="svg-icon svg-icon-quinze mr-1"
        [inlineSVG]="'./assets/app/media/svg/icons/General/Lock.svg'">
      </span>
      <span class="text-dark-75 font-size-sm pt-3 pl-1">
        Espaço bloqueado
      </span>
    </div>
  </div>
</div>