<div class="m-login__forget-password2">
  <div class="m-login__head">
    <h3 class="m-login__title">
      E-mail enviado com sucesso!
    </h3>
    <div class="m-login__desc">
      Enviamos um link para troca de senha em seu e-mail. Dá uma olhada lá!
    </div>
  </div>
  <div class="m-login__form-action d-flex justify-content-center py-15">
    <div
      class="btn btn-light m-btn m-btn--pill m-btn--custom m-btn--air cursor-default">
      <span class="svg-icon svg-icon-primary svg-icon-3x"
        [inlineSVG]="'./assets/app/media/svg/icons/Navigation/Double-check.svg'">
      </span>
    </div>
  </div>
  <div class="m-login__form-sub d-flex justify-content-center">
    <span class="m-form__help text-dark-75 font-size-sm">
      Ah, não esquece de conferir se não foi pro spam. 🧐
    </span>
  </div>
</div>